<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Sets the size of the window equal to the size of the screen -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tells the browser how to render the page in Microsoft Edge -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Como Say What!?</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header><a href="/">&#191;Como <span>Say What</span>!?</a></header>
