<% include ../partials/boilerplate %>

<p id="add"><a href="/words/new">Add word</a></p>
<% for (let word of data) { %>
  <div class="word">
    <p><%= word.english %></p>
    <a href="/words/<%= word.id %>" class="link">See translation</a>
  </div>
<% } %>

<% include ../partials/footer %>
