<% include ../partials/boilerplate %>

<form method="POST" action="/words/<%= data.id %>?_method=PUT">
  <input name="id" type="hidden" value="<%= data.id %>">
  <input name="english" type="text" value="<%= data.english %>">
  <input name="spanish" type="text" value="<%= data.spanish %>">
  <input type="Submit" value="Edit Word">
</form>
<a href="/words/" class="back">Go Back</a>

<% include ../partials/footer %>
