<% include ../partials/boilerplate %>

<div class="word">
  <h1><%= word.spanish %></h1>
  <h2><%= word.english %></h2>
  <a href="/words/<%= word.id %>/edit">Edit this word</a>

  <form action="/words/<%= word.id %>?_method=DELETE" method="post">
    <input type="Submit" value="Delete">
  </form>
  <a href="/words/">See all words</a>
</div>

<% include ../partials/footer %>
