<% include ./partials/boilerplate %>

  <div>
    <h1 id="welcome"><%= message %></h1>
    <h2></h2>
  </div>

  <footer>
    <a href="/words"><button type="button">Let's Start!</button></a>
  </footer>
<% include ./partials/footer %>
