<% include ./partials/boilerplate %>

  <div>
    <h1><%= message %></h1>
    <h2><%= subTitle %></h2>
  </div>

  <div>
    <h3>This is a personal "dictionary" for a Spanish language learner.</h3>
  </div>

  <button type="button">Let's Start!</button>
<% include ./partials/footer %>
