<% include ../partials/boilerplate %>

<form method="POST" action="/words">
  <input name="english" type="text" placeholder="English">
  <input name="spanish" type="text" placeholder="Spanish">
  <input type="Submit" value="Add Word">
</form>

<% include ../partials/footer %>
