<% include ../partials/boilerplate %>

<div class="quote">
  <h1><%= data.english %></h1>
  <h3><%= data.spanish %></h3>
  <a href="/words/<%= word.id %>/edit">See translation</a>
</div>

<% include ../partials/footer %>
