<% include ./partials/boilerplate %>

  <div>
    <h1><%= message %></h1>
    <h3><%= subTitle %></h3>
  </div>

  <div>
    <h4>Como Say What!? is a personal dictionary for language learners.</h4>
  </div>

  <p>There are words in <% languages.forEach((language, index) => { %>
    <% if (index != languages.length - 1) { %>
      <%= language %>,
    <% } else { %>
      and <%- language -%>.
    <% } %>
  <% }) -%></p>

<% include ./partials/footer %>
